<%- include('includes/head')%>
<%- include('includes/nav-bar')%>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 mt-5">
      <h1 class="text-center">
        Agenda
      </h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('includes/messages') %>

      <div class="responsive-table">
        <table class="table mt-5">
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>(84) 91878956</td>
            <td>Eduardosooares@hotmamil.com</td>
          </tr>
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>(84) 91878956</td>
            <td>Eduardosooares@hotmamil.com</td>
          </tr>
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>(84) 91878956</td>
            <td>Eduardosooares@hotmamil.com</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  </div>
</div>
<%- include('includes/footer')%>

   